@import '~antd/dist/antd.css';

.header {
  height: 160px;
  padding-top: 64px;
  padding-left: 120px;
  width: 100%;
  background: white;
}

.chef {
  height: 40%;
  width:100%;
}

.content {
  background-color: white;
}